.Rproj.user
.Rhistory
.RData
.Ruserdata
mleExperiments/*
data analysis/*
fullGenome/results/*
simulations/results/*
figures/*
src/PSAT.so
src/quadraticSampler.o
src/RcppExports.o
vignettes/linear_tests_cache/*
vignettes/quadratic_tests_cache/*
vignettes/rsconnect/*
articles/*
oldSims/results/*
tex/*