importFrom(Rcpp, sourceCpp)
useDynLib(PSAT)

export(psatGLM)
export(aggregatePvalues)
export(psatControl)
export(sampleQuadraticConstraint)
export(mvnLinear)
export(mvnQuadratic)

export(getCI)
export(getPval)
export(plotEstimates)
export(plotSolutionPath)
export(plotPvalues)
export(getTestThreshold)

S3method(summary, psatGLM)
S3method(coef, mvnQuadratic)
S3method(coef, psatGLM)
S3method(coef, mvnLinear)
S3method(predict, mvnQuadratic)
S3method(predict, psatGLM)
S3method(plot, mvnQuadratic)
S3method(plot, psatGLM)
S3method(plot, mvnLinear)
S3method(print, psatGLM_summary)

import(ggplot2)
import(magrittr)
importFrom("stats", "coef", "glm", "optim", "optimize", "p.adjust",
             "pchisq", "pnorm", "qchisq", "qnorm", "quantile", "rbinom",
             "rnorm", "uniroot", "var", "vcov")
importFrom("utils", "capture.output")
importFrom("CompQuadForm", "liu")
importFrom("truncnorm", "rtruncnorm")
importFrom("truncnorm", "qtruncnorm")
importFrom("truncnorm", "etruncnorm")
importFrom("tmg", "rtmg")





